{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold mb-4">
    <i class="bi bi-exclamation-triangle me-2"></i>
    Generar Discrepancias de Inventario
</h2>

<div class="card shadow-sm p-4">

    <form method="POST" enctype="multipart/form-data">

        <label class="form-label fw-semibold">Seleccionar archivo del conteo:</label>
        <input type="file" name="file" accept=".xlsx" class="form-control mb-3" required>

        <button class="btn btn-danger px-4">
            <i class="bi bi-file-earmark-excel me-2"></i>
            Generar Excel de Discrepancias
        </button>

    </form>

    <hr>

    <p class="text-muted small">
        El Excel debe contener:
        <strong>Código del Material, Ubicación, Libre utilización</strong>
    </p>

</div>

{% endblock %}
