{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h3 class="mb-3">Subir Inventarios Antiguos</h3>

    <form action="" method="POST" enctype="multipart/form-data" class="p-4 border rounded bg-white">

        <div class="mb-3">
            <label class="form-label fw-bold">Archivo Excel</label>
            <input type="file" name="file" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="bi bi-upload me-2"></i>Subir Historial
        </button>

    </form>
</div>

{% endblock %}
