{% extends "base.html" %}
{% block content %}

<div class="container">

    <h2 class="mb-4 fw-bold">
        <i class="bi bi-box-arrow-in-up me-2"></i>
        Cargar Inventario Base
    </h2>

    <div class="card shadow-sm p-4">

        <form method="POST" enctype="multipart/form-data">

            <label class="form-label fw-semibold">Seleccionar archivo Excel:</label>
            <input type="file" name="file" accept=".xlsx" class="form-control mb-3" required>

            <button class="btn btn-primary px-4">
                <i class="bi bi-upload me-2"></i> Subir Inventario
            </button>

        </form>

        <hr>

        <p class="text-muted small">
            Formato requerido:
            <br>
            <strong>Código del Material, Texto breve de material, Unidad de medida base,
            Ubicación, Libre utilización</strong>
        </p>

    </div>
</div>

{% endblock %}
