<select name="tipo_error" class="form-select mb-3" required>
    <option disabled selected>Seleccione error</option>

    <option>Registro de Stock Incorrecto</option>
    <option>Diferencia de Inventario (Faltante)</option>
    <option>Diferencia de Inventario (Sobrante)</option>
    <option>Material Mal Ubicado</option>
    <option>Duplicado de Registro en Sistema</option>
    <option>Error al Cargar Stock en Excel</option>
    <option>Error en el Código de Material</option>
    <option>Picking Incorrecto</option>
    <option>Packing Incorrecto</option>
    <option>Material No Registrado en el Sistema</option>
    <option>Error al Leer Código QR o Código de Barra</option>
    <option>Error en Validación de Libre Utilización</option>
    <option>Stock Máximo o Seguridad Mal Definido</option>
    <option>Error en Inventario Cíclico</option>
    <option>Error en Asignación de Ubicaciones</option>

    <option>Retraso en Entrega Interna</option>
    <option>Mala Planificación de Despachos</option>
    <option>Preparación Incompleta de Pedido</option>
    <option>Error en Consolidación de Material</option>
    <option>Transferencia Incorrecta entre Áreas</option>
    <option>Error en Trazabilidad del Material</option>
    <option>Error en Identificación de Bultos</option>
    <option>Entrega de Material No Solicitado</option>
    <option>Error en Conteo de Bultos</option>
    <option>Pedido Parcial Mal Notificado</option>

    <option>Ingreso Erróneo en SAP / ERP</option>
    <option>Nota de Ingreso Mal Registrada</option>
    <option>Orden de Transferencia Incorrecta</option>
    <option>Documento No Coincide con Material Entregado</option>
    <option>Movimiento Contable Incorrecto</option>
</select>
