{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow p-4" style="width: 450px;">

        <h3 class="text-center mb-3">
            <i class="bi bi-person-plus text-success"></i> Registrar usuario
        </h3>

        <form method="POST">

    <div class="mb-3">
        <label>Usuario</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Correo</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Repetir contraseña</label>
        <input type="password" name="password2" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Crear cuenta</button>

</form>


    </div>
</div>

{% endblock %}
